<div class="card">
     <div class="card-header">
          <a type="button" href="/users" class="btn btn-primary">quay lại</a>
     </div>
     <div class="card-body">
          {{>components/form action="create" method="post" messages=messages}}
     </div>
</div>